body {
    background-color: #4a664b;
    background-image: url(https://i.ytimg.com/vi/tBDVLey1DIE/maxresdefault.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

    font-family: 'Montserrat Alternates', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat+Alternates:wght@300&family=VT323&display=swap');

#sidebar {
    width: 150px;
    height: 730px;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    background-color: rgb(129, 145, 104);
    
    border: 10px;
    border-style: solid;
    border-color: rgb(238, 214, 125);
}

.sidebarbut {
    background-color: aliceblue;
    padding: 5px;
    
    color: #ad5050;
    font-size: 15px;

    border: none;
    border-radius: 5px;
}

#UI {
    background-image: url(../img/background2-0.jpeg);
    background-color: aliceblue;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
    min-width: 730px;
    min-height: 730px;

    border-top: 10px;
    border-left: 0px;
    border-right: 10px;
    border-bottom: 10px;
    border-style: solid;
    border-color: rgb(238, 214, 125);
    

    display: flex;
    flex-direction: column;
}

#p1Sprite, #p2Sprite {
    height: 160px;
    width: 160px;
    margin-top: -20px;
    margin-left: 36px;
}

#p1, #p2 {
    margin-left: 45px;
    margin-top: 43px;
    margin-right: auto;

    text-align: center;
    color: maroon;
}

#p2 {
    margin-left: 580px;
    margin-top: 40px;
    position: absolute;
}

#p2Position {
    margin-top: 169px;
    margin-left: 500px;
    position: absolute;
}

#caughtTextAlert {
    position: absolute;
    z-index: 1;
    margin-top: 100px;
    margin-left: 225px;
    margin-right: auto;


    background-color: #deb67e;
    
    color: maroon;
    text-align: center;
}


.fish {
    height: 16px;
    width: 16px;
    padding: 14px;
}

#water {
    margin-top: 100px;
    margin-left: 140px;
    margin-right: 140px;

    height: 300px;
    width: 450px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


#popup {
    z-index: 1;
    position: absolute;
    margin-left: 160px;
    background-color: rgb(143, 162, 113);

    min-height: 350px;
    min-width: 650px;

    border: 10px;
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(238, 214, 125);

    text-align: center;
    color: maroon;
}

.winpopup {
    font-size: 30px;
    text-decoration: underline overline;

    padding-top: 75px;
}


#p1start, #p2start {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 25px;
    margin-right: 25px;

    height: 30px;
}

#title {
    font-size: 50px;
    padding: 50px 0px 50px 0px;
    text-decoration: underline overline;
}