body {
    background-color: #4a664b;
    background-image: url(https://i.ytimg.com/vi/tBDVLey1DIE/maxresdefault.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

#sidebar {
    width: 150px;
    height: 730px;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'VT323', monospace;
    text-align: center;

    background-color: rgb(129, 145, 104);
    
    border: 10px;
    border-style: solid;
    border-color: rgb(255, 239, 179);
}

.sidebarbut {
    background-color: aliceblue;
    padding: 5px;
    
    color: #ad5050;
    font-size: 15px;
    font-family: 'VT323', monospace;

    border: none;
    border-radius: 5px;
}

#UI {
    background-image: url(../img/background2-0.jpeg);
    background-color: aliceblue;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
    min-width: 730px;
    min-height: 730px;

    border-top: 10px;
    border-left: 0px;
    border-right: 10px;
    border-bottom: 10px;
    border-style: solid;
    border-color: rgb(255, 239, 179);
    
    font-family: 'VT323', monospace;

    display: flex;
    flex-direction: column;
}

#p1Sprite {
    height: 160px;
    width: 160px;
    margin-top: -20px;
    margin-left: 36px;
}

#p1 {
    margin-left: 60px;
    margin-top: 85px;
    margin-right: auto;

    text-align: center;
    color: maroon;
}

#caughtTextAlert {
    position: absolute;
    z-index: 1;
    margin-top: 100px;
    margin-left: 225px;
    margin-right: auto;


    background-color: #deb67e;
    
    color: maroon;
    text-align: center;
}


.fish {
    height: 16px;
    width: 16px;
    padding: 14px;
}

#water {
    margin-top: 100px;
    margin-left: 140px;
    margin-right: 140px;

    height: 300px;
    width: 450px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


#startmenu {
    z-index: 1;
    position: absolute;
    margin-left: 160px;
    background-color: whitesmoke;

    min-height: 350px;
    min-width: 650px;

    border: 10px;
    border-style: solid;
    border-radius: 15px;

    font-family: 'VT323', monospace;
    text-align: center;
}

#title {
    font-size: 50px;
    padding: 100px 0px 100px 0px;
}